<div id="auth">
  <div class="auth-wrapper">
    <div>
      <div class="brand">
        <svg-icon
          [src]="'assets/images/codegino.svg'"
          [applyClass]="true"
          svgClass="brand__logo animate__animated animate__wobble"
          [svgStyle]="{ 'width.rem': 3 }"
        ></svg-icon>
        <h1 style="margin: 0;">
          Code Gino
        </h1>
      </div>
      <h2 style="max-width: 40rem; margin-top: 1rem;">
        Thou shall not pass! You need to verify your credential first.
      </h2>
    </div>
    <p-card class="fex-column auth-form-container">
      <p-header>
        <h2>
          Please login
        </h2>
        <p *ngIf="isInvalidCredentials" class="invalid-credentials">
          Invalid username or password
        </p>
      </p-header>
      <form [formGroup]="authForm" class="flex-column">
        <div class="p-field p-float-label p-input-icon-right">
          <i class="pi pi-user"></i>
          <input type="text" pInputText style="width: 100%;" formControlName="username" />
          <label for="float-input">Username</label>
        </div>
        <div class="p-field p-float-label p-input-icon-right">
          <i class="fa fa-key"></i>
          <input type="password" pInputText style="width: 100%;" formControlName="password" />
          <label for="float-input">Password</label>
        </div>
        <button
          type="submit"
          name="login"
          color="primary"
          pButton
          (click)="onLogin()"
          label="Login"
        ></button>
      </form>
    </p-card>
  </div>

  <footer class="footer">
    <p class="copyright">Copyrights. All rights reserved 2020</p>
  </footer>
</div>

<p-toast></p-toast>

<ngx-spinner
  name="authSpinner"
  size="medium"
  color="#fff"
  type="ball-zig-zag-deflect"
  [fullScreen]="true"
  ><p style="color: white;">Logging in...</p></ngx-spinner
>
