#auth {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-container {
  width: 50rem;
  height: 20rem;
  top: -10%;
}
