<div id="auth">
  <mat-card class="fex-column auth-form-container">
    <mat-card-title>
      <h2>
        Please login
      </h2>
      <h3 *ngIf="isInvalidCredentials" style="color: red;">
        Invalid username or password
      </h3>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="authForm" class="flex-column">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username" [autocomplete]="true" />
          <mat-error *ngIf="authForm.get('username').hasError('required')"
            >Username is required</mat-error
          >
          <mat-error *ngIf="authForm.get('username').hasError('minlength')"
            >Minimum length of 4 characters</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            [autocomplete]="true"
          />
        </mat-form-field>
        <button type="submit" mat-raised-button (click)="onLogin()">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<ngx-spinner
  name="authSpinner"
  size="medium"
  color="#fff"
  type="ball-zig-zag-deflect"
  [fullScreen]="true"
  ><p style="color: white;">Logging in...</p></ngx-spinner
>
