<div id="auth">
  <div class="auth-wrapper">
    <div>
      <div class="brand">
        <svg-icon
          [src]="'assets/images/codegino.svg'"
          [applyClass]="true"
          svgClass="brand__logo animate__animated animate__wobble"
          [svgStyle]="{ 'width.rem': 3 }"
        ></svg-icon>
        <h1 style="margin: 0;">
          Code Gino
        </h1>
      </div>
      <h2 style="max-width: 40rem; margin-top: 1rem;">
        Thou shall not pass! You need to verify your credential first.
      </h2>
    </div>
    <mat-card class="fex-column auth-form-container">
      <mat-card-title>
        <h2>
          Please login
        </h2>
        <h3 *ngIf="isInvalidCredentials" class="invalid-credentials">
          Invalid username or password
        </h3>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="authForm" class="flex-column">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="Username"
              formControlName="username"
              name="username"
              [autocomplete]="true"
            />
            <mat-error *ngIf="authForm.get('username').hasError('required')"
              >Username is required</mat-error
            >
            <mat-error *ngIf="authForm.get('username').hasError('minlength')"
              >Minimum length of 4 characters</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              name="password"
              formControlName="password"
              [autocomplete]="true"
            />
          </mat-form-field>
          <button type="submit" name="login" color="primary" mat-raised-button (click)="onLogin()">
            Login
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <footer class="footer">
    <p class="copyright">Copyrights. All rights reserved 2020</p>
  </footer>
</div>

<ngx-spinner
  name="authSpinner"
  size="medium"
  color="#fff"
  type="ball-zig-zag-deflect"
  [fullScreen]="true"
  ><p style="color: white;">Logging in...</p></ngx-spinner
>
