<button mat-raised-button color="primary" (click)="onAddNewCertification()">
  Add new certification
</button>
<ng-container *ngFor="let certification of certifications$ | async; trackBy: elementTracker">
  <mat-card
    (click)="onSelectElement(certification)"
    style="cursor: pointer; margin-bottom: 1rem;"
    *ngIf="!elementToModify"
  >
    <p>{{ certification.name }}</p>
    <p>{{ certification.description }}</p>
    <p>{{ certification.provider }}</p>
    <p>{{ certification.url }}</p>
    <p>{{ certification.dateAcquired }}</p>
    <button
      mat-icon-button
      color="warn"
      (click)="onDeleteCertification(certification); $event.stopPropagation()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card>
</ng-container>

<ng-container *ngIf="!!elementToModify">
  <portfolio-update-certification
    [certification]="elementToModify"
    (closed)="elementToModify = null"
    (update)="onUpdate()"
  >
  </portfolio-update-certification>
</ng-container>
