<button
  pButton
  color="primary"
  (click)="onAddNewCertification()"
  label="Add new certification"
></button>
<ng-container *ngFor="let certification of certifications$ | async; trackBy: elementTracker">
  <p-card (click)="onSelectElement(certification)" *ngIf="!elementToModify">
    <p>{{ certification.name }}</p>
    <p>{{ certification.description }}</p>
    <p>{{ certification.provider }}</p>
    <p>{{ certification.url }}</p>
    <p>{{ certification.dateAcquired }}</p>
    <button
      pButton
      color="warn"
      class="p-button-rounded"
      icon="fa fa-trash-alt"
      (click)="onDeleteCertification(certification); $event.stopPropagation()"
    ></button>
  </p-card>
</ng-container>

<ng-container *ngIf="!!elementToModify">
  <portfolio-update-certification
    [certification]="elementToModify"
    (closed)="elementToModify = null"
    (update)="onUpdateCallback()"
  >
  </portfolio-update-certification>
</ng-container>
