@import '../../../../styles/variables';

.main-header {
  padding: 0;
  margin-bottom: $margin-small;
  height: 10rem;
  background-color: $color-light-light;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  &--pinned {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.1rem;
  padding: 0.65rem 0.5rem;
  color: $color-dark;
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.header-links {
  display: none;
  @media #{$xs-device} {
    display: none;
  }
  @media #{$sm-device} {
    display: block;
  }
  @media #{$md-device} {
    display: block;
  }
  @media #{$lg-device} {
    display: block;
  }
}

.links-button {
  display: block;
  @media #{$sm-device} {
    display: none;
  }

  @media #{$md-device} {
    display: none;
  }

  @media #{$lg-device} {
    display: none;
  }
}

.top-bar {
  height: 5rem;
  background-color: $color-primary;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    :not(:last-child) {
      margin-right: $margin-small;
    }
  }
}

.brand {
  display: flex;
  align-items: center;

  &__logo {
    width: 3rem;
    height: 3rem;
    border: 1px solid $color-primary;
    border-radius: 50%;
    padding: 0.25rem;
    margin-right: $margin-very-very-small;
    box-shadow: 0 0px 5px rgba(0, 255, 0, 1);
  }
}

.side-nav {
  &-section {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  &-links {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
  }
}
