<div class="top-bar">
  <div class="top-bar__wrapper">
    <p>
      <strong>
        The quick brown fox jumps over the lazy dog.
      </strong>
    </p>

    <div class="top-bar__socials">
      <ng-container *ngFor="let social of socialHandlers$ | async">
        <portfolio-social-handler [social]="social"></portfolio-social-handler>
      </ng-container>
    </div>
  </div>
</div>
<header class="main-header" [class.main-header--pinned]="isPinned">
  <div class="main-header__wrapper">
    <div class="brand">
      <svg-icon
        [src]="'assets/images/codegino.svg'"
        [applyClass]="true"
        svgClass="brand__logo animate__animated animate__wobble hvr-pulse-grow"
        [svgStyle]="{ 'width.rem': 3 }"
      ></svg-icon>
      <h1 style="margin: 0;">
        Code Gino
      </h1>
    </div>
    <nav class="header-links">
      <ng-component *ngTemplateOutlet="links"></ng-component>
    </nav>
    <button mat-icon-button class="links-button" (click)="showLinks(true)">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</header>
<section class="side-nav-section" *ngIf="isSideNavVisible" (click)="showLinks(false)">
  <nav
    class="side-nav-links animate__animated animate__slideInRight animate__faster"
    (click)="$event.stopPropagation()"
  >
    <ng-component *ngTemplateOutlet="links"></ng-component>
  </nav>
</section>

<ng-template #forLogout>
  <button mat-icon-button (click)="onLogout()" style="color: red;" title="Logout">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</ng-template>

<ng-template #links>
  <a
    [routerLink]="['/profile']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    name="profile"
    >Profile</a
  >
  <a
    [routerLink]="['/memes']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    name="memes"
    >Memes</a
  >
  <a
    [routerLink]="['/resume']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    name="resume"
    >Resume</a
  >
  <a
    *ngIf="isLoggedIn$ | async"
    [routerLink]="['/admin']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    name="admin"
    >Admin</a
  >
  <a
    *ngIf="isLoggedOut$ | async; else forLogout"
    [routerLink]="['/auth']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    name="login"
    >Login</a
  >
</ng-template>
