@import '../../../../styles/variables';
@import '../header-common';

.main-header {
  &--pinned {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.header-links {
  display: none;
  @media #{$xs-device} {
    display: none;
  }
  @media #{$sm-device} {
    display: block;
  }
  @media #{$md-device} {
    display: block;
  }
  @media #{$lg-device} {
    display: block;
  }
}

.links-button {
  display: block;
  @media #{$sm-device} {
    display: none;
  }

  @media #{$md-device} {
    display: none;
  }

  @media #{$lg-device} {
    display: none;
  }
}

.top-bar {
  height: 5rem;
  background-color: $color-primary;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    :not(:last-child) {
      margin-right: $margin-small;
    }
  }
}

.side-nav {
  &-section {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  &-links {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
  }
}
