@import '../../../../styles/variables';

:host {
  display: block;
  @media #{$sm-device} {
    margin: $margin-small 0;
  }

  @media #{$md-device} {
    margin: $margin-medium 0;
  }

  @media #{$lg-device} {
    margin: $margin-big 0;
  }
}

.blogs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$md-device} {
    flex-direction: row;
  }

  portfolio-tag-filter {
    width: 30rem;
    align-self: center;
    margin-top: 2rem;

    @media #{$md-device} {
      width: 30rem;
      align-self: unset;
      margin-top: 0;
    }

    @media #{$lg-device} {
      width: 33rem;
    }
  }
}

.blogs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $padding-very-small $padding-small;

  > :not(:last-child) {
    margin-bottom: $margin-small;
    @media #{$md-device} {
      margin-bottom: $margin-small;
    }
  }

  > portfolio-blog-tile {
    width: 99%;
    min-width: 25rem;
    @media #{$xs-device} {
      width: 30rem;
    }

    @media #{$md-device} {
      width: 40rem;
    }

    @media #{$lg-device} {
      width: 55rem;
    }

    @media #{$xl-device} {
      width: 70rem;
    }
  }
}
