@import '../../../../styles/variables';

:host {
  display: block;
  background-color: #eef0f1;
  padding: $padding-medium;
}

.blogs-wrapper {
  padding: $padding-very-small $padding-small;
  > :not(:last-child) {
    margin-bottom: $margin-medium;
  }
}
