<div class="sort-wrapper">
  <mat-form-field style="width: 50%;">
    <mat-select
      [formControl]="orderByFC"
      (selectionChange)="onOptionChange($event, 'orderBy')"
      placeholder="Order"
    >
      <mat-option [value]="ORDER_BY.CREATED_DATE">
        Date Created
      </mat-option>
      <mat-option [value]="ORDER_BY.TITLE">
        Title
      </mat-option>
      <mat-option [value]="ORDER_BY.DESCRIPTION">
        Description
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 50%;">
    <mat-select
      [formControl]="orderFC"
      (selectionChange)="onOptionChange($event, 'order')"
      placeholder="Order"
    >
      <mat-option [value]="ORDER.ASC">
        {{ ORDER.ASC }}
      </mat-option>
      <mat-option [value]="ORDER.DESC">
        {{ ORDER.DESC }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
