<h2 mat-dialog-title>Add Meme</h2>
<mat-dialog-content>
  <form [formGroup]="memeForm" class="meme-form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="Ex. Pizza" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex. Pizza" formControlName="description" />
    </mat-form-field>
    <input
      (change)="onImagePicked($event)"
      placeholder="Upload Image"
      type="file"
      accept="image/*"
    />
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button (click)="onUploadHandler()">Upload Image</button>
</mat-dialog-actions>
