/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';

@import '../../../libs/styles/base';
@import '../../../libs/styles/variables';
@import '../../../libs/styles/responsive';

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
