/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';

@import '../../../libs/styles/base';
@import '../../../libs/styles/variables';
@import '../../../libs/styles/responsive';
@import './styles//material-overrides';

.flex-row {
  display: flex;
  flex-direction: row;

  &--reverse {
    flex-direction: row-reverse;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
