<form [formGroup]="skillFormGroup">
  <p-card class="form-wrapper">
    <p-header>
      Update Skill
    </p-header>
    <div class="card-content">
      <div class="p-field p-float-label">
        <input type="text" pInputText style="width: 100%;" formControlName="name" />
        <label for="float-input">Name</label>
      </div>
      <p-autoComplete
        formControlName="category"
        [suggestions]="filteredOptions$ | async"
        (completeMethod)="search($event)"
      ></p-autoComplete>
      <p-toggleButton
        formControlName="current"
        [onIcon]="'pi pi-check'"
        offIcon="pi pi-times"
        [onLabel]="'Current skill'"
        offLabel="Not current skill"
      ></p-toggleButton>
    </div>
    <p-footer align="end">
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSkillUpdate()">Update</button>
    </p-footer>
  </p-card>
</form>
