@import '../../../../../../styles/variables';

:host {
  display: block;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  padding: $padding-small $padding-medium $padding-medium $padding-medium;
  flex-direction: column;
  margin: $padding-medium;
}
