<div class="sort-wrapper">
  <p-dropdown
    [style]="{ width: '100%' }"
    [options]="[
      { value: ORDER_BY.CREATED_DATE, label: 'Date Created' },
      { value: ORDER_BY.TITLE, label: 'Title' },
      { value: ORDER_BY.DESCRIPTION, label: 'Description' }
    ]"
    (onChange)="onOptionChange($event, 'order')"
    optionLabel="label"
    optionValue="value"
    [formControl]="orderByFC"
  ></p-dropdown>
  <p-dropdown
    [options]="[{ value: ORDER.ASC }, { value: ORDER.DESC }]"
    (onChange)="onOptionChange($event, 'order')"
    optionLabel="value"
    optionValue="value"
    [style]="{ width: '100%' }"
    [formControl]="orderFC"
  ></p-dropdown>
</div>
