@import '../common-style.scss';

:host {
  display: block;
}

.sort-wrapper {
  @include common-wrapper();

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 1rem;

  width: 26rem;

  @media #{$sm-device} {
    width: 32rem;
  }
}
