<form [formGroup]="experienceFormGroup">
  <p-card class="form-wrapper">
    <p-header>
      <h2
        class="p-pl-5 p-pt-3"
        style="display: flex; align-items: center; justify-content: center;"
      >
        Update Experience
      </h2>
    </p-header>
    <div class="card-content">
      <div class="p-field p-float-label">
        <p-calendar dateFormat="yy-mm-dd" formControlName="startDate"></p-calendar>
        <label>Start Date</label>
      </div>

      <div class="p-field p-float-label">
        <p-calendar dateFormat="yy-mm-dd" formControlName="endDate"></p-calendar>
        <label>End Date</label>
      </div>

      <div class="p-field p-float-label">
        <input type="text" pInputText style="width: 100%;" formControlName="name" />
        <label>Name</label>
      </div>

      <div class="p-field p-float-label">
        <input type="text" pInputText style="width: 100%;" formControlName="role" />
        <label>Role</label>
      </div>

      <quill-editor formControlName="events"> </quill-editor>
    </div>
    <p-footer align="end">
      <button pButton class="p-mr-2" (click)="onCancel()" label="Cancel"></button>
      <button pButton (click)="onExperienceUpdate()" label="Update"></button>
    </p-footer>
  </p-card>
</form>
