<form [formGroup]="blogFormGroup" class="blog-form-wrapper">
  <p-card class="blog-form">
    <div class="p-inputgroup">
      <input type="text" pInputText placeholder="Username" formControlName="title" />
    </div>
    <div class="p-inputgroup">
      <p-chips
        formControlName="tags"
        [separator]="','"
        class="full-width"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
      ></p-chips>
    </div>
    <quill-editor formControlName="content" [modules]="{ syntax: true }"> </quill-editor>
    <mat-hint>*Content is required</mat-hint>
    <p-footer class="actions">
      <button mat-raised-button color="warn" (click)="close()">Cancel</button>
      <button color="primary" type="submit" mat-raised-button (click)="onSaveBlog(false)">
        Save as Draft
      </button>
      <button color="primary" type="submit" mat-raised-button (click)="onSaveBlog(true)">
        Publish Blog
      </button>
    </p-footer>
  </p-card>
</form>
