@import '../../../../../styles/variables';

.full-width {
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.blog-form-wrapper {
  width: 95%;
}

.font-size-doubled {
  font-size: 2em;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
