@import '../../../../styles/variables';

.app-root {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: auto;
}

.app-root__wrapper {
  min-height: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: #eef0f1;
}
