<button pButton class="p-mb-2" (click)="onUploadNewFile()" label="Upload new file"></button>

<ng-template #tableCellElement let-element="element" let-prop="prop">
  <span *ngIf="!element.editable">{{ element[prop] }}</span>
  <input
    type="text"
    [value]="element[prop]"
    *ngIf="element.editable"
    (input)="onPropertyChange(element, $event, prop)"
  />
</ng-template>

<p-table [value]="filesToDisplay | async" [rowTrackBy]="fileTracker">
  <ng-template pTemplate="header">
    <tr>
      <th>Filename</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-element>
    <tr>
      <td>
        <ng-container
          *ngTemplateOutlet="tableCellElement; context: { element: element, prop: 'fileName' }"
        ></ng-container>
      </td>
      <td>
        <ng-container
          *ngTemplateOutlet="tableCellElement; context: { element: element, prop: 'description' }"
        ></ng-container>
      </td>
      <td class="actions">
        <button
          pButton
          (click)="onFileUpdateStarted(element)"
          *ngIf="!isEditing"
          label="Update"
        ></button>
        <button
          pButton
          (click)="onFileDeleteStarted(element)"
          *ngIf="!isEditing"
          label="Delete"
        ></button>
        <button
          pButton
          (click)="onCancelEditing()"
          *ngIf="isEditing && element.editable"
          label="Cancel"
        ></button>
        <button
          pButton
          (click)="onConfirmUpdate(element)"
          *ngIf="isEditing && element.editable"
          label="Confirm"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
