<div class="filter-wrapper">
  <portfolio-filter-by-tag
    [filterValue]="filterValue"
    [filterKey]="filterKey"
    (filterValueChange)="onFilterChange($event)"
  ></portfolio-filter-by-tag>
  <div class="flex-row">
    <portfolio-sort-by-property
      [order]="order"
      [orderBy]="orderBy"
      (orderChange)="onOrderChange($event)"
    ></portfolio-sort-by-property>
    <button
      mat-icon-button
      (click)="onResetFilter()"
      matTooltip="Reset filter"
      matTooltipPosition="left"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<ng-container *ngIf="filteredPhotos.length > 0; else emptyList">
  <div class="photos-wrapper">
    <ng-container
      *ngFor="
        let photo of filteredPhotos
          | paginate: { itemsPerPage: PAGE_SIZE_LIMIT, currentPage: currentPage };
        trackBy: photoTracker
      "
    >
      <div class="photos">
        <portfolio-photo-detail [photo]="photo"></portfolio-photo-detail>
      </div>
    </ng-container>

    <pagination-controls
      (pageChange)="onPageChange($event)"
      *ngIf="filteredPhotos.length > PAGE_SIZE_LIMIT"
    ></pagination-controls>
  </div>
</ng-container>

<ng-template #emptyList>
  <portfolio-empty-list></portfolio-empty-list>
</ng-template>
