<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
<portfolio-filter-by-tag (filterValueChange)="onFilterChange($event)"></portfolio-filter-by-tag>
<ng-container
  *ngFor="
    let meme of filteredMemes
      | paginate: { itemsPerPage: PAGE_SIZE_LIMIT, currentPage: currentPage };
    trackBy: memeTracker
  "
>
  <div class="memes">
    <portfolio-photo-detail [meme]="meme"></portfolio-photo-detail>
  </div>
</ng-container>

<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
