<div class="search-wrapper">
  <div style="margin-right: 0.5rem; grid-column: span 8;">
    <input
      type="text"
      placeholder="Enter the filter value"
      style="width: 100%;"
      pInputText
      [formControl]="filterValueFC"
      (input)="onFilterValueChange($event)"
      (keyup.enter)="onUpdateFilter()"
    />
  </div>
  <div style="grid-column: span 3;">
    <p-dropdown
      [options]="[
        { value: 'title', label: 'Title' },
        { value: 'tags', label: 'Tags' }
      ]"
      (onChange)="onOptionChange($event, 'key')"
      optionLabel="label"
      optionValue="value"
      [formControl]="filterKeyFC"
    ></p-dropdown>
  </div>
  <i
    class="pi pi-search"
    (click)="onUpdateFilter()"
    style="cursor: pointer; text-align: right; font-size: 1.5em;"
    pTooltip="Search"
    tooltipPosition="top"
  ></i>
</div>
