@import '../common-style.scss';

:host {
  display: flex;
  justify-content: flex-end;
}

.search-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.search-wrapper {
  @include common-wrapper();

  width: 30rem;

  @media #{$sm-device} {
    width: 32rem;
  }
}
