<header class="main-header">
  <div class="main-header__wrapper">
    <div class="brand">
      <svg-icon
        [src]="'assets/images/codegino.svg'"
        [applyClass]="true"
        svgClass="brand__logo animate__animated animate__wobble hvr-skew-grow"
        [svgStyle]="{ 'width.rem': 3 }"
      ></svg-icon>
      <h1 style="margin: 0;">
        Code Gino
      </h1>
    </div>
    <nav class="header-links">
      <ng-component *ngTemplateOutlet="links"></ng-component>
    </nav>
  </div>
</header>

<ng-template #links>
  <a
    [routerLink]="['/profile']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    >Home</a
  >
  <a
    [routerLink]="['profile']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    >Profile</a
  >
  <a
    [routerLink]="['files']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    >Files</a
  >
  <a
    [routerLink]="['blogs']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    >Blogs</a
  >
  <a
    [routerLink]="['photos']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    >Photos</a
  >
  <a
    [routerLink]="['resume']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    >Resume</a
  >
  <a
    *ngIf="isLoggedOut$ | async; else forLogout"
    [routerLink]="['auth']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="link hvr-skew-forward"
    >Login</a
  >
</ng-template>

<ng-template #forLogout>
  <button mat-icon-button (click)="onLogout()" style="color: red;" title="Logout">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</ng-template>
