<form [formGroup]="blogFormGroup" class="blog-form-wrapper">
  <p-card class="blog-form">
    <div class="p-inputgroup">
      <input type="text" pInputText placeholder="Username" formControlName="title" />
    </div>
    <div class="p-inputgroup">
      <p-chips
        formControlName="tags"
        [separator]="','"
        class="full-width"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
      ></p-chips>
    </div>
    <quill-editor formControlName="content"> </quill-editor>
    <mat-hint>*Content is required</mat-hint>
    <p-footer class="actions" *ngIf="blog">
      <button p-button color="warn" (click)="close()">Cancel</button>
      <button
        color="primary"
        type="submit"
        class="submit"
        mat-raised-button
        (click)="onUpdateBlog()"
        *ngIf="blog.published"
      >
        Update Blog
      </button>
      <button p-button color="primary" (click)="onPublishBlog()" *ngIf="!blog.published">
        Publish
      </button>
      <button p-button color="primary" (click)="onUnpublishBlog()" *ngIf="blog.published">
        Unpublish
      </button>
    </p-footer>
  </p-card>
  <h3 class="published-label" *ngIf="blog">
    {{ blog.published ? 'Published' : 'Unpublished' }}
  </h3>
</form>
