<portfolio-public-layout>
  <portfolio-header contentHeader></portfolio-header>
  <ng-container *ngIf="profile$ | async; let profile; else: loading" contentBody>
    <section class="greetings">
      <portfolio-auto-typer
        [messages]="profile.greetings"
        (completed)="toggleTranscript($event)"
      ></portfolio-auto-typer>
      <portfolio-greetings-transcript
        [greetings]="profile.greetings"
        *ngIf="isTranscriptVisible"
      ></portfolio-greetings-transcript>
      <hr class="separator" />
      <portfolio-contact-me></portfolio-contact-me>
    </section>
  </ng-container>
  <portfolio-footer contentFooter></portfolio-footer>
</portfolio-public-layout>

<ng-template #loading>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    name="profileSpinner"
    size="medium"
    color="#fff"
    type="ball-zig-zag-deflect"
    [fullScreen]="true"
    ><p style="color: white;">Weight lungs...</p></ngx-spinner
  >
</ng-template>
