<h2 mat-dialog-title>Add Photo</h2>
<mat-dialog-content>
  <form [formGroup]="photoForm" class="photo-form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" />
      <mat-error *ngIf="photoForm.get('title').hasError('required')">Title is required</mat-error>
      <mat-error *ngIf="photoForm.get('title').hasError('minlength')"
        >Minimum length of 4 characters</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description" />
    </mat-form-field>
    <input
      (change)="onImagePicked($event)"
      placeholder="Upload Image"
      formControlName="file"
      type="file"
      accept="image/*"
    />
    <ng-container *ngIf="photoForm.get('file'); let fileControl">
      <mat-error *ngIf="fileControl.hasError('required') && !fileControl.untouched"
        >Field is required</mat-error
      >
    </ng-container>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Fruit selection" formControlName="tags">
        <mat-chip
          *ngFor="let tag of tags.value; let i = index"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeTag(tag, i)"
        >
          {{ tag }}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Tags"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)"
        />
      </mat-chip-list>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-raised-button
    (click)="onUploadHandler()"
    [disabled]="!photoForm.valid"
  >
    Upload Image
  </button>
</mat-dialog-actions>
