@import '../../../styles/variables';

:host {
  display: flex;
  justify-content: center;
  margin-top: $margin-medium;
}

.form-wrapper {
  width: 100%;

  @media #{$sm-device} {
    width: 70%;
  }
}

.social-handlers {
  display: grid;
  grid-template-columns: 7fr repeat(3, 1fr);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem 0;
}

.or-separator {
  margin: 1rem 0;
  font-size: 3em;
}
