<p-card class="form-wrapper">
  <p-header>
    <h2 class="p-pl-5 p-pt-3" style="display: flex; align-items: center; justify-content: center;">
      Contact Me&nbsp;<mat-icon>question_answer</mat-icon>
    </h2>
  </p-header>
  <div class="social-handlers">
    <h3>Follow me on these platforms</h3>
    <ng-container *ngFor="let social of socialHandlers$ | async">
      <portfolio-social-handler [social]="social"></portfolio-social-handler>
    </ng-container>
  </div>
  <p class="or-separator">OR</p>
  <h3>Send me a message via email</h3>
  <form [formGroup]="contactDetailsForm" class="flex-column p-mt-2">
    <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 1rem;">
      <div class="p-field p-float-label p-input-icon-right">
        <i class="pi pi-user"></i>
        <input
          class="p-inputtext-lg"
          id="float-input"
          type="text"
          pInputText
          style="width: 100%;"
          formControlName="firstName"
        />
        <label for="float-input">First Name</label>
      </div>
      <div class="p-field p-float-label p-input-icon-right">
        <i class="pi pi-user"></i>
        <input
          class="p-inputtext-lg"
          id="float-input"
          type="text"
          style="width: 100%;"
          pInputText
          formControlName="lastName"
        />
        <label for="float-input">Last Name</label>
      </div>
      <div
        class="p-field p-float-label p-input-group p-input-icon-right"
        style="grid-column: span 2;"
      >
        <i class="pi pi-inbox"></i>
        <input
          id="float-input"
          class="p-inputtext-lg"
          type="text"
          pInputText
          formControlName="email"
          style="width: 100%;"
        />
        <label for="float-input">email</label>
      </div>
      <div
        class="p-field p-float-label p-input-group p-input-icon-right"
        style="grid-column: span 2;"
      >
        <i class="pi pi-pencil"></i>
        <textarea
          id="float-input"
          type="text"
          pInputTextarea
          formControlName="message"
          style="min-width: 100%; max-width: 100%;"
        ></textarea>
        <label for="float-input">Message</label>
      </div>
    </div>

    <div>
      <button
        type="reset"
        style="margin-right: 1rem;"
        *ngIf="contactDetailsForm.dirty"
        pButton
        class="p-button-lg"
        label="Reset"
      ></button>
      <button
        [disabled]="!contactDetailsForm.valid"
        type="submit"
        pButton
        (click)="onSubmitHandler()"
        label="Submit"
        class="p-button-lg"
      ></button>
    </div>
  </form>
</p-card>
