<mat-card class="form-wrapper">
  <mat-card-header style="justify-content: center;">
    <h2 style="display: flex;">Contact Me&nbsp;<mat-icon>question_answer</mat-icon></h2>
  </mat-card-header>
  <mat-card-content>
    <div class="social-handlers">
      <h3>Follow me on these platforms</h3>
      <ng-container *ngFor="let social of socialHandlers$ | async">
        <portfolio-social-handler [social]="social"></portfolio-social-handler>
      </ng-container>
    </div>
    <p class="or-separator">OR</p>
    <h3>Send me a message via email</h3>
    <form [formGroup]="contactDetailsForm" class="flex-column">
      <div class="flex-row">
        <mat-form-field style="width: 50%; margin-right: 0.5rem;">
          <input type="text" placeholder="First name" matInput formControlName="firstName" />
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
        <mat-form-field style="width: 50%; margin-right: 0.5rem;">
          <input type="text" placeholder="Last name" matInput formControlName="lastName" />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <mat-form-field style="width: 100%;">
        <input type="email" placeholder="Email address" matInput formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <textarea placeholder="Enter your message" matInput formControlName="message"></textarea>
        <mat-icon matSuffix>comment</mat-icon>
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          type="reset"
          style="margin-right: 1rem;"
          *ngIf="contactDetailsForm.dirty"
        >
          Reset
        </button>
        <button
          [disabled]="!contactDetailsForm.valid"
          type="submit"
          color="primary"
          mat-raised-button
          (click)="onSubmitHandler()"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
