<form [formGroup]="certificationFormGroup">
  <p-card class="form-wrapper">
    <p-header>
      <h2
        class="p-pl-5 p-pt-3"
        style="display: flex; align-items: center; justify-content: center;"
      >
        Update Experience
      </h2>
    </p-header>
    <div class="card-content">
      <div class="p-field p-float-label">
        <p-calendar dateFormat="yy-mm-dd" formControlName="dateAcquired"></p-calendar>
        <label for="float-input">Date Aquired</label>
      </div>
      <div class="p-field p-float-label">
        <input type="text" pInputText style="width: 100%;" formControlName="name" />
        <label for="float-input">Name</label>
      </div>
      <div class="p-field p-float-label">
        <input type="text" pInputText style="width: 100%;" formControlName="description" />
        <label for="float-input">Description</label>
      </div>
      <div class="p-field p-float-label">
        <input type="text" pInputText style="width: 100%;" formControlName="provider" />
        <label for="float-input">Provider</label>
      </div>
      <div class="p-field p-float-label">
        <input type="text" pInputText style="width: 100%;" formControlName="url" />
        <label for="float-input">URL</label>
      </div>
    </div>
    <p-footer align="end">
      <button pButton color="warn" (click)="onCancel()" label="Cancel" class="p-mr-2"></button>
      <button pButton color="primary" (click)="onCertificationUpdate()" label="Update"></button>
    </p-footer>
  </p-card>
</form>
