<portfolio-public-layout>
  <portfolio-header contentHeader></portfolio-header>
  <section contentBody>
    <article class="blogs-wrapper">
      <ng-container *ngFor="let blog of blogs$ | async">
        <mat-card class="blog">
          <mat-card-title>
            <h1>{{ blog.title }}</h1>
            <h3>By: {{ blog.author }}</h3>
            <h4>{{ blog.createdAt.toDateString() }}</h4>
          </mat-card-title>
          <mat-card-content>
            <quill-view-html [content]="blog.content" theme="snow"></quill-view-html>
          </mat-card-content>
          <mat-chip-list class="tags">
            <mat-chip *ngFor="let tag of blog.tags">
              {{ tag }}
            </mat-chip>
          </mat-chip-list>
        </mat-card>
      </ng-container>
    </article>
  </section>
  <portfolio-footer contentFooter></portfolio-footer>
</portfolio-public-layout>
