<portfolio-public-layout>
  <portfolio-header contentHeader></portfolio-header>
  <section contentBody>
    <ng-container *ngFor="let blog of blogs$ | async">
      <mat-card>
        <mat-card-title>
          <p>ID: {{ blog.id }}</p>
        </mat-card-title>
        <mat-card-content>
          <article [innerHTML]="blog.content"></article>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </section>
  <portfolio-footer contentFooter></portfolio-footer>
</portfolio-public-layout>
