<section class="cli p-shadow-2" style="border-radius: 0.5rem;">
  <aside class="cli-header">
    <div class="circle circle--red"></div>
    <div class="circle circle--yellow"></div>
    <div class="circle circle--green"></div>
    <p class="cli-header__title">Greetings</p>
  </aside>
  <article class="cli-body">
    <p class="cli-body__content">
      <span class="cli-body__start">&#x276F;</span>
      <span #message></span>
    </p>
  </article>
</section>
<button
  pButton
  (click)="skipAutoType()"
  class="p-button-text p-button-rounded color-primary"
  *ngIf="isTyping"
  icon="fa fa-forward"
  title="Skip"
></button>
<button
  pButton
  (click)="retriggerAutoType()"
  class="p-button-text p-button-rounded color-primary"
  *ngIf="!isTyping"
  title="Repeat"
  icon="fa fa-redo"
></button>
