<section class="cli">
  <aside class="cli-header">
    <div class="circle circle--red"></div>
    <div class="circle circle--yellow"></div>
    <div class="circle circle--green"></div>
    <p class="cli-header__title">Greetings</p>
  </aside>
  <article class="cli-body">
    <p class="cli-body__content">
      <span class="cli-body__start">&#x276F;</span>
      <span #message></span>
    </p>
  </article>
</section>
<button
  mat-icon-button
  (click)="skipAutoType()"
  *ngIf="isTyping"
  matTooltip="Skip"
  matTooltipPosition="right"
>
  <mat-icon>skip_next</mat-icon>
</button>
<button
  mat-icon-button
  (click)="retriggerAutoType()"
  *ngIf="!isTyping"
  matTooltip="Repeat"
  matTooltipPosition="right"
>
  <mat-icon>refresh</mat-icon>
</button>
