@import '../../../styles/variables';

@mixin common-wrapper {
  border: 1px solid #dfe1e5;
  height: 5.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1rem;

  &:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
  }
}
