<mat-card class="blog-form-wrapper">
  <form [formGroup]="blogFormGroup" class="blog-form">
    <mat-form-field class="double-font-size">
      <mat-label class="font-size-doubled">Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" class="font-size-doubled" />
      <mat-error *ngIf="blogFormGroup.get('title').hasError('required')"
        >Title is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label style="font-size: 1.2em;">Tags</mat-label>
      <input matInput placeholder="Tags" formControlName="tags" style="font-size: 1.5em;" />
      <mat-error *ngIf="blogFormGroup.get('tags').hasError('required')">Tags is required</mat-error>
    </mat-form-field>
    <quill-editor formControlName="content">
      <div quill-editor-toolbar>
        <span class="ql-formats">
          <button class="ql-bold" [title]="'Bold'"></button>
        </span>
        <span class="ql-formats">
          <select class="ql-align" [title]="'Aligment'">
            <option selected></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
          </select>
          <select class="ql-align" [title]="'Aligment2'">
            <option selected></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
          </select>
        </span>
      </div>
    </quill-editor>
    <mat-hint>*Content is required</mat-hint>
    <button type="submit" class="submit" mat-raised-button (click)="onSaveBlog()">Save Blog</button>
  </form>
</mat-card>
<h3>
  {{ blogs$ | async | json }}
</h3>
