@import '../../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.blog-form-wrapper {
  width: 80%;
}

.submit {
  margin-top: $margin-small;
}

.font-size-doubled {
  font-size: 2em;
}
