@import '../../../../styles/variables';

:host {
  display: block;
}

.social {
  display: grid;
  grid-template-columns: 3rem 1fr;

  > .name,
  .url {
    font-size: 0.9em;
  }

  .social__icon {
    grid-row: span 2;
  }
}

.url {
  grid-column: span 1;
  color: black;
  text-decoration: none;
  color: $color-primary-dark;
}

.name {
  text-align: left;
  text-transform: capitalize;
}
