@import '../../../styles/variables';

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: $margin-medium;

  :not(:first-child) {
    margin-left: $margin-very-very-small;
  }
}

.certifications {
  &__wrapper {
    display: grid;
    margin: 2rem;

    row-gap: 1rem;
    column-gap: 1rem;
  }

  &__title {
    grid-column: span 1;
    @media #{$xs-device} {
      grid-column: span 1;
    }

    @media #{$sm-device} {
      grid-column: span 2;
    }

    @media #{$md-device} {
      grid-column: span 2;
    }

    @media #{$lg-device} {
      grid-column: span 2;
    }
  }

  &__wrapper {
    @media #{$xs-device} {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }

    @media #{$sm-device} {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    @media #{$md-device} {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    @media #{$lg-device} {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
  }
}

.skills-group {
  justify-content: center;
}

.skills-category {
  display: flex;
  flex-direction: column;
}
