@import '../../../styles/variables';

.skills__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: $margin-medium;

  :not(:first-child) {
    margin-left: $margin-very-very-small;
  }
}

.experiences {
  &__wrapper {
    :not(:first-child) {
      background-color: blue;
      margin-top: $margin-small;
    }
    width: 100%;
  }
}

.certifications {
  &__wrapper {
    display: grid;
    margin: 2rem;

    row-gap: 1rem;
    column-gap: 1rem;
    grid-column: span 2;
  }

  &__title {
    grid-column: span 1;
    @media #{$xs-device} {
      grid-column: span 1;
    }

    @media #{$sm-device} {
      grid-column: span 2;
    }

    @media #{$md-device} {
      grid-column: span 2;
    }

    @media #{$lg-device} {
      grid-column: span 2;
    }
  }

  &__wrapper {
    @media #{$xs-device} {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }

    @media #{$sm-device} {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    @media #{$md-device} {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    @media #{$lg-device} {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
  }
}

.skills-group {
  justify-content: center;
}

.skills-category {
  display: flex;
  flex-direction: column;
}

.resume__container {
  display: flex;
  justify-content: center;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 20px solid rgba(0, 0, 0, 0.3);
  max-width: 120rem;
  width: 97rem;
  background-color: white;
  box-sizing: border-box;
  padding: $padding-medium;
  margin-top: $margin-big;
}

::ng-deep {
  .ql-editor ol {
    padding: 0;
  }
}

.resume {
  &__separator {
    border: none;
    border-top: 1rem double $color-primary-dark;
    width: 100%;
    margin-top: $margin-small;
    margin-bottom: $margin-medium;
  }

  &__body {
    display: flex;
    flex-direction: column;

    @media #{$md-device} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
