@import '../../../styles/variables';

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: $margin-medium;

  :not(:first-child) {
    margin-left: $margin-very-very-small;
  }
}

.certifications-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin-medium;

  :not(:last-child) {
    margin-bottom: $margin-small;
  }
}

.skills-group {
  justify-content: center;
}

.skills-category {
  display: flex;
  flex-direction: column;
}
