<portfolio-public-layout>
  <portfolio-header contentHeader></portfolio-header>
  <section contentBody class="resume__container">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="resume__download"
      matTooltip="Download resume"
      matTooltipPosition="left"
    >
      <!-- <mat-icon class="resume__download__icon animate__animated animate__pulse animate__infinite"
        >cloud_download</mat-icon
      > -->
      <i class="animate__animated animate__pulse animate__infinite fa fa-download"> </i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadResume('pdf')">PDF</button>
      <button mat-menu-item (click)="downloadResume('word')">Word</button>
    </mat-menu>
    <div class="content__wrapper">
      <header class="resume__header">
        <h1 class="name">Carlo Gino</h1>
        <h2 class="title">The quick brown fox jumps over the lazy dog!</h2>
      </header>
      <hr class="resume__separator" />
      <ng-container *ngIf="profile$ | async; let profile">
        <div class="resume__body">
          <div class="first-side">
            <div class="experiences__wrapper">
              <h2 class="section__label">
                <i class="section__icon fa fa-building"> </i>Work Experience
              </h2>
              <ng-container *ngFor="let exp of workExperiences$ | async">
                <portfolio-experience [experience]="exp"></portfolio-experience>
              </ng-container>
            </div>
            <div class="experiences__wrapper">
              <h2 class="section__label"><i class="section__icon fa fa-school"> </i>Education</h2>
              <ng-container *ngFor="let exp of education$ | async">
                <portfolio-experience [experience]="exp"></portfolio-experience>
              </ng-container>
            </div>
          </div>
          <div class="second-side">
            <div class="social__wrapper">
              <h2 class="section__label"><i class="section__icon fa fa-users"> </i>Social</h2>
              <ng-container *ngFor="let social of socialHandlers$ | async">
                <portfolio-static-social-handler
                  [social]="social"
                ></portfolio-static-social-handler>
              </ng-container>
            </div>
            <div class="skills__wrapper">
              <h2 class="section__label"><i class="section__icon fa fa-dumbbell"> </i>Skills</h2>
              <ng-container *ngFor="let category of categorizedSkill$ | async">
                <div class="skills__category">
                  <h3 class="skills__category__label p-mb-3">{{ category.category }}</h3>
                  <aside class="flex-row skills-group">
                    <ng-container *ngFor="let skill of category.skills">
                      <portfolio-skill [skill]="skill"></portfolio-skill>
                    </ng-container>
                  </aside>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="certifications__wrapper">
            <h2 class="certifications__title">
              <i class="section__icon fa fa-certificate"> </i>Certifications
            </h2>
            <ng-container *ngFor="let cert of profile.certifications">
              <portfolio-certification [certification]="cert"></portfolio-certification>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
  <portfolio-footer contentFooter></portfolio-footer>
</portfolio-public-layout>
