<p>resume works!</p>
<ng-container *ngIf="profile$ | async; let profile">
  <div class="skills-wrapper">
    <ng-container *ngFor="let category of categorizedSkill$ | async">
      <div class="skills-category">
        <h4>{{ category.category }}</h4>
        <aside class="flex-row">
          <ng-container *ngFor="let skill of category.skills">
            <portfolio-skill [skill]="skill"></portfolio-skill>
          </ng-container>
        </aside>
      </div>
    </ng-container>
  </div>
</ng-container>
