<section class="photo" *ngIf="photo; else invalidImage">
  <h2 style="margin-bottom: 0.25rem;">{{ photo.title }}</h2>
  <img
    width="100%"
    loading="lazy"
    style="min-height: 30rem;"
    [defaultImage]="'assets/images/placeholder-image.gif'"
    [lazyLoad]="photo.url"
    [title]="photo.imageName"
  />
  <h4>{{ photo.description }}</h4>
  <mat-chip-list>
    <mat-chip *ngFor="let tag of photo.tags">
      {{ tag }}
    </mat-chip>
  </mat-chip-list>
</section>

<ng-template #invalidImage>
  <p>Invalid Image</p>
</ng-template>
