<button pButton color="primary" (click)="onAddNewSkill()" label="Add new skill"></button>

<ng-container *ngFor="let skill of skills$ | async; trackBy: elementTracker">
  <p-card *ngIf="!elementToModify" (click)="onSelectElement(skill)" class="p-mb-3">
    <p>Name: {{ skill.name }}</p>
    <p>Category: {{ skill.category }}</p>
    <p>Is Current: {{ skill.isCurrent }}</p>
    <p-footer>
      <button
        pButton
        color="warn"
        class="p-button-rounded"
        icon="fa fa-trash-alt"
        (click)="onDeleteSkill(skill); $event.stopPropagation()"
      ></button>
    </p-footer>
  </p-card>
</ng-container>

<ng-container *ngIf="!!elementToModify">
  <portfolio-update-skill
    [skill]="elementToModify"
    (closed)="elementToModify = null"
    (update)="onUpdateCallback()"
  ></portfolio-update-skill>
</ng-container>
