<portfolio-public-layout>
  <portfolio-header contentHeader></portfolio-header>
  <section contentBody>
    <ng-container *ngIf="files$ | async; else emptyFiles">
      <portfolio-file-list [fileList]="files$ | async"></portfolio-file-list>
    </ng-container>
  </section>
  <portfolio-footer contentFooter></portfolio-footer>
</portfolio-public-layout>

<ng-template #emptyFiles>
  <p-card>
    <img
      width="100%"
      loading="lazy"
      style="height: 10rem;"
      [src]="'assets/images/empty-list.gif'"
    />
  </p-card>
</ng-template>
