<div class="top-bar">
  Dummy
</div>
<header class="main-header" [class.main-header--pinned]="isPinned">
  <nav>
    <a
      [routerLink]="['/profile']"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="link"
      >Profile</a
    >
    <a
      [routerLink]="['/memes']"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="link"
      >Memes</a
    >
    <a
      [routerLink]="['/resume']"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="link"
      >Resume</a
    >
  </nav>
</header>
