@import '../../../styles/variables';

.main-header {
  padding: 0;
  margin-bottom: $margin-small;
  height: 10rem;
  background-color: $color-light-light;
  transition: all 0.5s;

  &--pinned {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.link {
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.top-bar {
  height: 5rem;
  background-color: $color-primary;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    :not(:last-child) {
      margin-right: $margin-small;
    }
  }
}
