<p>memes works!</p>

<input (change)="onImagePicked($event)" placeholder="Upload Image" type="file" accept="image/*" />
<button (click)="onImageUpload()">Upload Image</button>

<ng-container *ngFor="let meme of memes$ | async">
  <div class="memes">
    <div class="meme">
      <img width="200px" [src]="meme.url" />
    </div>
  </div>
</ng-container>

<!-- <div *ngIf="imageUrl">
  Preview Image from AWS
  <br />
  <img
    width="200px"
    src="https://YOUR S3 BUCKET
     NAME.s3.amazonaws.com/{{ imageUrl }}"
  />
</div> -->
