<p>memes works!</p>

<input (change)="onImagePicked($event)" placeholder="Upload Image" type="file" accept="image/*" />
<button (click)="onImageUpload()">Upload Image</button>
<input [(ngModel)]="caption" />

<ng-container *ngFor="let meme of memes$ | async">
  <div class="memes">
    <div class="meme">
      <h3>{{ meme.caption }}</h3>
      <img width="400px" [src]="meme.url" [title]="meme.imageName" />
      <!-- <button color="warn" mat-raised-button (click)="onDeleteMeme(meme)">
        <mat-icon>delete_forever</mat-icon>
      </button> -->
    </div>
  </div>
</ng-container>
