<h2 mat-dialog-title>Update Meme</h2>
<mat-dialog-content>
  <form [formGroup]="memeForm" class="meme-form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" />
      <mat-error *ngIf="memeForm.get('title').hasError('required')">Title is required</mat-error>
      <mat-error *ngIf="memeForm.get('title').hasError('minlength')"
        >Minimum length of 4 characters</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description" />
    </mat-form-field>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Fruit selection" formControlName="tags">
        <mat-chip
          *ngFor="let tag of tags.value; let i = index"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeTag(tag, i)"
        >
          {{ tag }}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Tags"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)"
        />
      </mat-chip-list>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    color="primary"
    mat-raised-button
    (click)="onUploadHandler()"
    [disabled]="!memeForm.valid || !isValueChanged"
  >
    Update Image
  </button>
</mat-dialog-actions>
