<ng-container *ngFor="let experience of experiences$ | async; trackBy: experienceTracker">
  <mat-card
    (click)="onSelectExperience(experience)"
    style="cursor: pointer; margin-bottom: 1rem;"
    *ngIf="!experienceToModify"
  >
    <p>{{ experience.name }}</p>
    <p>{{ experience.role }}</p>
    <p>{{ experience.startDate }}</p>
    <p>{{ experience.endDate }}</p>
  </mat-card>
</ng-container>

<button mat-raised-button color="primary" (click)="onAddNewExperience()">Add new experience</button>

<ng-container *ngIf="!!experienceToModify">
  <portfolio-update-experience
    [experience]="experienceToModify"
    (closed)="experienceToModify = null"
    (update)="onUpdate()"
  ></portfolio-update-experience>
</ng-container>
