:host {
  display: block;
  width: 100%;
}

.blog {
  padding: 1rem;
}
.title {
  cursor: pointer;
  font-family: sans-serif;
}

// Check of a better way to center tags
::ng-deep {
  .mat-chip-list-wrapper {
    justify-content: center;
  }
}
