<button mat-raised-button color="primary" (click)="onCreateNewBlog()">
  Write a post
</button>

<ng-container *ngFor="let blog of blogs$ | async">
  <article class="blog-card-wrapper">
    <p class="published">{{ blog.published ? 'Published' : 'Unpublished' }}</p>
    <portfolio-blog-tile [blog]="blog"></portfolio-blog-tile>
    <div class="actions">
      <button
        pButton
        icon="fa fa-trash-alt"
        class="p-button-rounded"
        color="warn"
        (click)="onBlogDelete(blog)"
        matTooltip="Delete Blog"
        matTooltipPosition="left"
      ></button>
      <button
        pButton
        icon="fa fa-pen"
        class="p-button-rounded"
        color="primary"
        (click)="onBlogUpdate(blog)"
        matTooltip="Update Blog"
        matTooltipPosition="left"
      ></button>
    </div>
  </article>
</ng-container>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
